<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://taborkert.hu/api/$1 [R,L]

RewriteBase /api/
RewriteRule ^index\.php$ - [L]
RewriteRule . /api/index.php [L]
</IfModule>